body {
  font-family: 'Raleway', sans-serif;
  background-size: auto;
}

.navbar-fixed-top {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.transparent {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.links-header {
  display: inline-block;
}

.nav-header {
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: 0px 6px 20px 0px black;
}

.top_title {
  text-align: center;
  padding: 10px;
}

.overlay-left {
  padding-left: 100px;
}

* {
  box-sizing: border-box;
}

.pad {
  padding-top: 100px;
}

.padmini {
  padding-top: 50px;
}

.pad-extra {
  padding-top: 170px;
}

.pad-down {
  padding-bottom: 200px;
}

.padlil {
  padding-bottom: 70px;
}

.small-pad {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fa-pad {
  padding-left: 5px;
  padding-right: 5px;
}

.landing-banner {
  margin-bottom: 20px;
  width: 100%;
  height: 700px;
  /* background-image: url(../images/00000000383.jpg); */
  overflow: hidden;
}

.head-banner-text {
  font-size: 3.4rem;
  font-family: 'Josefin Slab', serif;
}

.logo-text {
  font-size: 2.4rem;
  font-family: 'Josefin Slab', serif;
  color: white;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  padding-top: 5px;
  background-color: red;
}

.banner-text {
  font-size: 1.7rem;
  font-weight: lighter;
}

.red {
  color: red !important;
}

.blue {
  color: blue !important;
}

.less-margin {
  margin-top: -20px;
}
.footpad {
  padding-top: 10px;
  padding-bottom: 10px;
}
