* {
  margin: 0;
  padding: 0;
  font-family: tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background: #3f51b5;;
}

.chatbox {
  width: 500px;
  min-width: 390px;
  height: 600px;
  background: #fff;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px #ccc;
}
.user-avatar {
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,-1);
}

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}


.chat .user-photo {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.chat .user-photo img {
  width: 100%;
}

.subchat {
  color: white;
  line-height: 1.2rem;
  width: 80%;
}

.subchat .chat-message {
  width: 100%;
  padding: 10px;
  margin: 5px 5px 0;
  border-radius: 10px;
  color: : #fff;
  font-size: 14px;
}

.friend .chat-message {
  background: #1adda4;
}

.self .chat-message {
  background: #1ddced;
  order: -1;
}

.chat-form {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
}

.chat-form textarea {
  background: #ffff49;
  width: 100%;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 15px;
  color: #392547;
}

.chat-form textarea:focus{
  background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
  width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,-1);
}
