<!Doctype html>
<html>
<head>
  <title>
    Jyoti Quiz data
  </title>
</head>
<body>
  <h1>Jyoti Quiz Store Page</h1>
  <ul>
    {{#each data}}
    <li>{{text.title}}</li>
    {{/each}}
  </ul>
</body>
</html>
