<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/fav_icon.png" rel="shortcut icon">
    <title>Jyoti - Hope for disabled</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/custom_css.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto" rel="stylesheet">
    <!--@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto');-->


    <style>
        body {
            max-width: 100%;
            overflow-x: hidden;
        }

        html,
        body {
            height: 100%;
            margin: 0;
        }
        .margin-fix {
          margin-bottom: -20px;
        }
    </style>

</head>
<body>
    <ul id="slide-out" class="sidenav">
        <li><a class="waves-effect" href="https://jyotiserver.firebaseapp.com/"><i class="material-icons">home</i>Jyoti Home</a></li>
        <li><a class="waves-effect" href="https://github.com/Biswajee/JyotiService/raw/master/Jyoti.jar"><i class="material-icons">filter_vintage</i>Download now</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="https://jyotiserver.firebaseapp.com"><i class="material-icons">book</i>About us</a></li>
    </ul>
    <nav class="transparent navbar-fixed-top" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="https://jyotiserver.firebaseapp.com" class="brand-logo"><img src="images/fav_icon.png" style="height: 135px; width:135px;" /><span class="head-banner-text" style="color: red; padding-left: 10px;">Jyoti</span></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://www.codechef.com">Jyoti - Home</a></li>
                <li><a href="https://github.com/Biswajee/JyotiService/raw/master/Jyoti.jar">Download now</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="row parallax-window pad pad-down" style="margin-bottom: 0px; margin-right: 0px; margin-left: 0px;" data-parallax="scroll" data-image-src="images/1123.png">
        <div class="col-md-12 col-sm-12 text-center">
            <h1 class="head-banner-text light-green-text text-accent-3 small-pad">Jyoti | Hope for disabled.</h1>
            <h5 class="col s12 light banner-text text-white">Jyoti aims to tackle the problem of visual impairment using AI and Cloud<br /> and incorporates the best in technology with humanity to fight the age old challenges faced by visually impaired. Drop us a mail to know more.
            </h5>
        </div>
        <div class="col-md-12 col-sm-12 text-center padmini">
            <a href="https://github.com/Biswajee/JyotiService/raw/master/Jyoti.jar" id="download-button" class="btn-large waves-effect waves-light amber darken-3">Download the Application</a>
        </div>
        <br><br>
    </div>
<div class="footpad purple lighten-1 margin-fix">
  <div class="col-md-12 col-sm-12 text-center">
    <p style="color: white;">&copy; Jyoti 2018 &middot; Made with <i class="fa fa-heart fa-pad" style="color: red" aria-hidden="true"></i>&comma; <i class="fa fa-coffee fa-pad" style="color: brown" aria-hidden="true"></i> and <i class="fa fa-code fa-pad" style="color: black" aria-hidden="true"></i> &middot; View source <a href="https://github.com/Biswajee/JyotiService"> here</a></p>
  </div>
</div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/init.js"></script>
</body>
</html>
